<div class="container">
  <h2>Things To Do</h2>
  <div class='js-items'>
    <%= render partial: 'items/item', collection: @items  %>
  </div>
  <br>
  <br>  
  <div class='new-item'>
    <%= render 'items/form' %>
  </div>
</div>