<div class="media-body">
 <h2 class="media-heading"><%= @user.name %></h2>
 <h2>Items</h2>
  <%= render partial: 'items/item', locals: { item: @item }  %>
 </div>
<div class='new-item'>
  <%= render 'items/form' %>
</div>