<div class="container">
  <h2><%= @user.name %></h2>
  <h2>Items</h2>
  <ul class="list-unstyled">
    <%= render partial: 'items/item', collection: @items  %>  
  </ul>
  <div class='new-item'>
    <%= render 'items/form' %>
  </div>
</div>