<div class="row">
  <div class="col-md-8">
    <%= form_for @item, remote: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter item" %>
        <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>