<%= content_tag :li, id: "item-#{item.id}" do %>
  <%= item.name %>
  <%= link_to "Done", item, method: :delete, remote: true %>
  <div class="pull-right">
  <em>
    <small>
    <%= item.days_left_text %>
    </small>
  </em>
  </div>
<% end %>